<div class="page-container d-flex align-items-center max-h-100 overflow-hidden">
  <div class="d-flex align-items-center"></div>

  <div
    class="form-container flex-column d-flex align-items-center justify-content-center"
  >
    <div class="w-50">
      <div class="d-flex flex-column justify-content-start">
        <h1>Sign in.</h1>
        <p>Welcome back to your favourite app!</p>
      </div>
      <button class="o-auth-button btn btn-primary mb-3 w-100">
        <i class="bi bi-google"></i> Sign in with Google
      </button>
      <div
        class="divider-container d-flex flex-row align-items-center justify-content-center mb-3"
      >
        <div class="divider mt-1"></div>
        <span class="mx-2">or</span>
        <div class="divider mt-1"></div>
      </div>
      <app-login-form class="w-100"></app-login-form>
    </div>
  </div>
  <div class="image-container w-50 max-h-100">
    <img src="../../../assets/pexels-pamanjoe-19577082.jpg" />
  </div>
</div>
