body,
html {
  height: 100%;
  background-color: black;
  scrollbar-color: rgb(107, 107, 107) rgb(172, 172, 172);
  scrollbar-width: thin;
}

/* You can add global styles to this file, and also import other style files */
@import "./styles/form-controls/form-control-styles.scss";
@import "./styles/btn";
@import "./styles/text";
@import "./styles/mat/material-styles.scss";
