<div class="repost-modal">
  <div class="button-group">
    <div
      class="button d-flex flex-row align-items-center"
      (click)="handleRepostClick()"
    >
      <i class="bi bi-share"></i>
      <p>{{ !isReposted ? "Repost" : "Undo repost" }}</p>
    </div>
    <div class="button d-flex flex-row align-items-center" (click)="quote()">
      <i class="bi bi-chat-right-quote"></i>
      <p>Quote</p>
    </div>
  </div>
  <button class="button button-cancel" (click)="closeModal()">Cancel</button>
</div>
