.repost-modal {
  background-color: black;
  min-height: 100%;
  padding: 20px 0;
  overflow: hidden;
  overflow-y: hidden;

  .button {
    padding: 10px 20px;
    i {
      font-size: 18.75px;
      margin-right: 10px;
    }

    p,
    &-cancel {
      font-size: 18px;
      font-weight: bold;
      max-width: 375px;
    }

    &-cancel {
      margin: 10px 20px;
      background-color: black;
      width: 100%;
      border: unset;
      border: white 1px solid;
      border-radius: 40px;
    }

    &:hover,
    &-cancel:hover {
      cursor: pointer;
      background-color: rgba(34, 34, 34, 0.212);
    }
  }
}
