@import "variables";

.form-control {
  &.text,
  &.password {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 5px;
  }

  & input {
    width: 90%;
  }

  &.password {
    i:hover {
      cursor: pointer;
    }
  }
}
